<p style="color: green"><%= notice %></p>

<h1>Applications</h1>

<div id="applications">
  <% @applications.each do |application| %>

       application name : <%= application.name %>
       <br>
       chats in application : <%= application.chats.count %>
    
    <p>
      <%= link_to "Show this application", application %>
    </p>
  <% end %>
</div>

<%= link_to "New application", new_application_path %>
